@{
    ViewData["Title"] = "Privacy Policy";
    //Layout = null;
    Layout= "_MyLayout";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@section TopSection{
    message from view To top section
}
@* 
@section FootSection{
    <script></script>
    <style>

    </style>
    message from view To Foot section

} *@
