@* @using WebApp.ViewModels *@
@model EmpWithBracnshMsgTempColorViewModel

@* @model WebApp.ViewModels.EmpWithBracnshMsgTempColorViewModel *@
@{
    ViewData["Title"] = "DetailsVM";
}

<h1>DetailsVM</h1>

<h2 style="background-color:@Model.Color" >@Model.EmpName</h2>
<h3>@Model.Message</h3>
<h4>@Model.Temp</h4>
<select class="form form-control" >
    @foreach (var item in Model.Branches)
    {
        <option>@item</option>
    }
</select>