@model Employee
@{
    ViewData["Title"] = "New";//??????????
    SelectList optionItems = new SelectList(ViewBag.DeptList,"Id","Name");
    
}

<h1>New</h1>
<form asp-action="SaveNew" asp-controller="Employee" method="post">
    <div>
        <label asp-for="Name"></label>
        <input class="form form-control"  asp-for="Name"/>
    </div>
       <div>
        <label asp-for="Salary"></label>
        <input class="form form-control" asp-for="Salary" />
    </div>
    <div>
        <label asp-for="ImageURL"></label>
        <input class="form form-control" asp-for="ImageURL" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input class="form form-control" asp-for="Email" />
    </div>
    <div>
        <label asp-for="DepartmentID"></label>
        <select class="form form-control" asp-for="DepartmentID" asp-items="@optionItems">
            <option value="0">-- Select DEpartment --</option>
        </select>
    </div>
    <input type="submit" value="Create" class="btn btn-success" />
</form>
<a asp-action="Index">Back To List</a>
